<!-- link rel="stylesheet" type="text/css" href="/jsl/jq/jcarousel/style.css" -->
<script type="text/javascript" src="/jsl/jq/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/jsl/jq/jcarousel/lib/jquery.jcarousel.js "> </script>
<link rel="stylesheet" type="text/css" href="/jsl/jq/jcarousel/skins/tango/skin.css">

<style>
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 85%; height: 100 ;
    }

    .jcarousel-skin-tango .jcarousel-clip-horizontal {
        width: 100%; 
    }

</style>
<script>
//------------------------------------------------

function carouselInit(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};

//------------------------------------------------

$(function() {

   carOpts= {
        initCallback:  carouselInit,
        scroll: 1,
        visible: 8, 
        animation: 3000,
        auto: 1,
        wrap: 'circular',
    }


   $("#jcar").jcarousel(
      carOpts
   );
} )

</script>

<div id='wrap'>
    <ul id="jcar" class="jcarousel-skin-tango">
        <li><img src="/DVR/apps/MGR2/pics/wrap_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/wings_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/tacos_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/side_sampler_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/sausagepepperoni_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/perogies_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/pepperoni_1.jpg" alt="" width="150" height="150"/></li>
        <li><img src="/DVR/apps/MGR2/pics/meatballsub_1.jpg" alt="" width="150" height="150"/></li>
    </ul>
</div>
