/*
$Id: mgrFP.css 49 2012-04-22 23:49:16Z pytools $
--------------------------------
  vi: sw=4 ts=4 expandtab
*/
.artext1 {
  font-family: 'monotype corsiva' ;
  color: orange  ;
  font-size:  28px ; 
}

.artext0 {
  font-family: Calibri ;
  color: yellow ;
  font-size: 14px ;
}

.ltbgtext {
   font-family: Calibri ;
   background-color: #ace ;
}

img.floatLeft { 
    float: left; 
    margin: 4px; 
}

img.floatRight { 
    float: right; 
    margin: 4px; 
}

a: link  {color: #e1aaaa} 
a: hover  {color: #e1eeee} 
a: visited  {color: #efaaaa} 

.roundish {
   margin: 10px ;
   border-radius: 15px;
   background-color: #22A
}

.rounded {
    border: 1px solid #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}

.boxshadow {
    border: 1px solid #999999;
    -moz-box-shadow: 3px 3px 3px #aaaaaa;
    -webkit-box-shadow: 3px 3px 3px #aaaaaa;
    box-shadow: 3px 3px 3px #aaaaaa;
    padding: 15px 15px 15px 15px;
}
                
.angradient {
background-image: -webkit-linear-gradient(135deg, #aaddaa, #ffffff);
background-image: -moz-linear-gradient(135deg, #aaddaa, #ffffff);
background-image: -o-linear-gradient(135deg, #aaddaa, #ffffff);
background-image: linear-gradient(135deg, #aaddaa, #ffffff);
}
               
.cbgradient {
background: #229; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6666aa', endColorstr='#001199'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#6666AA), to(#001199)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #6666aa,  #001199); /* for firefox 3.6+ */ 
}



