                <li><img src="/DVR/apps/MGR2/pics/wrap_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wrap_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wrap_3.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wrap_4.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wrap_5.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wrap_6.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wings_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/wings_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/tacos_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/tacos_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/tacos_3.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/tacos_4.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/side_sampler_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/side_sampler_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/side_sampler_3.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/side_sampler_4.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/side_sampler_5.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/sausagepepperoni_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/sausagepepperoni_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/sausage_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/perogies_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/perogies_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/pepperoni_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/meatballsub_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/meatballsub_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/hoagie_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/hoagie_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/hoagie_3.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/hoagie_4.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/angelhair_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/angelhair_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/cheesepizza_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/cheesepizza_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/cheesesteak_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/cheesesteak_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/chick_cheesesteak_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/club_sand_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/club_sand_2.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/club_sand_3.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/club_sand_4.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/hamburger_1.jpg" alt="" width="150" height="150"></li>
                <li><img src="/DVR/apps/MGR2/pics/hamburger_2.jpg" alt="" width="150" height="150"></li>
